{
  "folderStructure": {
    "resources": "./resources/",
    "data": "./data/",
    "packets": "./packets/",
    "scripts": "resources:Scripts/",
    "plugins": "./plugins/",
    "cache": "./cache/"
  },
  "databaseInfo": {
    "server": {
      "connectionUri": "mongodb://mongodb:27017",
      "collection": "grasscutter"
    },
    "game": {
      "connectionUri": "mongodb://mongodb:27017",
      "collection": "grasscutter"
    }
  },
  "language": {
    "language": "en_US",
    "fallback": "en_US",
    "document": "EN"
  },
  "account": {
    "autoCreate": true,
    "EXPERIMENTAL_RealPassword": false,
    "defaultPermissions": [],
    "maxPlayer": -1
  },
  "server": {
    "debugWhitelist": [],
    "debugBlacklist": [],
    "runMode": "HYBRID",
    "logCommands": false,
    "fastRequire": true,
    "http": {
      "startImmediately": false,
      "bindAddress": "0.0.0.0",
      "bindPort": 8088,
      "accessAddress": "127.0.0.1",
      "accessPort": 0,
      "encryption": {
        "useEncryption": false,
        "useInRouting": false,
        "keystore": "./keystore.p12",
        "keystorePassword": "123456"
      },
      "policies": {
        "cors": {
          "enabled": true,
          "allowedOrigins": [
            "*"
          ]
        }
      },
      "files": {
        "indexFile": "./index.html",
        "errorFile": "./404.html"
      }
    },
    "game": {
      "bindAddress": "0.0.0.0",
      "bindPort": 22101,
      "accessAddress": "127.0.0.1",
      "accessPort": 0,
      "useUniquePacketKey": true,
      "useXorEncryption": true,
      "loadEntitiesForPlayerRange": 300,
      "enableScriptInBigWorld": true,
      "enableConsole": true,
      "kcpInterval": 20,
      "logPackets": "NONE",
      "isShowPacketPayload": false,
      "isShowLoopPackets": false,
      "cacheSceneEntitiesEveryRun": false,
      "gameOptions": {
        "inventoryLimits": {
          "weapons": 2000,
          "relics": 2000,
          "materials": 2000,
          "furniture": 2000,
          "all": 30000
        },
        "avatarLimits": {
          "singlePlayerTeam": 4,
          "multiplayerTeam": 4
        },
        "sceneEntityLimit": 1000,
        "watchGachaConfig": false,
        "enableShopItems": false,
        "staminaUsage": true,
        "energyUsage": true,
        "fishhookTeleport": true,
        "trialCostumes": false,
        "questing": {
          "enabled": false
        },
        "resinOptions": {
          "resinUsage": false,
          "cap": 200,
          "rechargeTime": 480
        },
        "rates": {
          "adventureExp": 1.0,
          "mora": 1.0,
          "leyLines": 1.0
        },
        "handbook": {
          "enable": true,
          "allowCommands": true,
          "limits": {
            "enabled": false,
            "interval": 3,
            "maxRequests": 10,
            "maxEntities": 25
          },
          "server": {
            "enforced": false,
            "address": "127.0.0.1",
            "port": 8088,
            "canChange": true
          }
        }
      },
      "joinOptions": {
        "welcomeEmotes": [
          2007,
          1002,
          4010
        ],
        "welcomeMessage": "Welcome to LunaGC 6.6.0",
        "welcomeMail": {
          "title": "Welcome to LunaGC 6.6.0",
          "content": "Hi there!\r\nWelcome to LunaGC!\n",
          "sender": "Kei-Luna and pmagixc",
          "items": []
        }
      },
      "serverAccount": {
        "avatarId": 10000007,
        "nameCardId": 210001,
        "adventureRank": 1,
        "worldLevel": 0,
        "nickName": "LunaGC",
        "signature": "Welcome to LunaGC"
      },
      "visionOptions": [
        {
          "name": "VISION_LEVEL_NORMAL",
          "visionRange": 80,
          "gridWidth": 20
        },
        {
          "name": "VISION_LEVEL_LITTLE_REMOTE",
          "visionRange": 16,
          "gridWidth": 40
        },
        {
          "name": "VISION_LEVEL_REMOTE",
          "visionRange": 1000,
          "gridWidth": 250
        },
        {
          "name": "VISION_LEVEL_SUPER",
          "visionRange": 4000,
          "gridWidth": 1000
        },
        {
          "name": "VISION_LEVEL_NEARBY",
          "visionRange": 40,
          "gridWidth": 20
        },
        {
          "name": "VISION_LEVEL_SUPER_NEARBY",
          "visionRange": 20,
          "gridWidth": 20
        }
      ]
    },
    "dispatch": {
      "regions": [],
      "dispatchUrl": "ws://127.0.0.1:1111",
      "encryptionKey": "PmzILmURsDWtSp2nmDoeUJnceeLB0xs0XM61hdCdExE=",
      "dispatchKey": "3miQeQ/lzL7hS26DM3vGHkhDLBZ8fA4RWT+9YUdC1Io=",
      "defaultName": "Grasscutter",
      "logRequests": "NONE"
    },
    "debugMode": {
      "serverLoggerLevel": {
        "levelInt": 10000,
        "levelStr": "DEBUG"
      },
      "servicesLoggersLevel": {
        "levelInt": 20000,
        "levelStr": "INFO"
      },
      "logPackets": "ALL",
      "isShowPacketPayload": false,
      "isShowLoopPackets": false,
      "logRequests": "ALL"
    }
  },
  "version": 13
}
